@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* --background: #ffffff;
  --foreground: #141414; */
}


@theme {
 --color-main-l: #D4D4D4;
 --color-main-d: #0E0E0F;

--color-primary: #2222F5;
--color-secondary: #C20000;

/* --color-primary: #076943;
--color-secondary: #69072D; */

--color-hover-l: #DEDEDE;
--color-hover-d: #3B3B3F;

}
