@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* --background: #ffffff;
  --foreground: #141414; */
}

@theme {
  --color-main-l: #d4d4d4;
  --color-main-d: #0e0e0f;

  --color-primary: #2222f5;
  --color-secondary: #c20000;

  /* --color-primary: #076943;
--color-secondary: #69072D; */

  --color-hover-l: #dedede;
  --color-hover-d: #3b3b3f;

  --color-card-l: #f5f5f5;
  --color-card-d: #1c1c1e;

  --color-border-l: #ebebeb;
  --color-border-d: #616161;
}
