@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* --background: #ffffff;
  --foreground: #141414; */
}

@theme {
  --color-main-l: #fafafa;
  --color-main-d: #0e0e0f;

  --color-primary: #1f7080;
  --color-secondary: #c20000;

  /* --color-primary: #076943;
--color-secondary: #69072D; */

  --color-hover-l: #dedede;
  --color-hover-d: #3b3b3f;

  --color-placeholder-l: #9e9e9e;
  --color-placeholder-d: #666666;

  --color-card-l: #ededed;
  --color-card-d: #1c1c1e;

  --color-border-l: #dadaed;
  --color-border-d: #30304a;

  --color-delate: #ff0000;

  --color-error-l: #ffe3e3;
  --color-error-d: #6b1f1f;
  --color-error-text-l: #b42318;
  --color-error-text-d: #fca5a5;
  --color-error-border-l: #fca5a5;
  --color-error-border-d: #7f1d1d;

  --color-tireMappingAdmin-green: #00e004;
  --color-tireMappingAdmin-purple: #8a00e0;
  --color-tireMappingAdmin-orange: #e08e00;

  --color-tireMappingAdmin-green-hover: #007002;
  --color-tireMappingAdmin-purple-hover: #500082;
  --color-tireMappingAdmin-orange-hover: #ab6b00;
}
